<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackie.baigu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AtguiguApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <!-- 解决横竖屏切换带来的内容重叠问题 -->

        <activity android:name=".okhttp.activity.OKHttpActivity" />
        <activity android:name=".okhttp.activity.OKHttpListActivity" />
        <activity android:name=".picasso.activity.PicassoActivity" />
        <activity android:name=".picasso.activity.PicassoListViewActivity" />
        <activity android:name=".picasso.activity.PicassoTransformationsActivity" />
        <activity android:name=".json.activity.NativeJsonPraseActivity" />
        <activity android:name=".gson.activity.GsonActivity" />
        <activity android:name=".fastjson.activity.FastJsonActivity" />
        <activity android:name=".xutils3.XUtils3Activity" />
        <activity android:name=".xutils3.annotation.XUtils3Fragment" />
        <activity android:name=".xutils3.net.XUtils3NetActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".glide.activity.GlideActivity" />
        <activity android:name=".glide.activity.GlideBaseActivity" />
        <activity android:name=".glide.activity.GlideRecyclerviewActivity" />
        <activity android:name=".glide.activity.GlideTranformationsActivity" />
        <activity android:name=".imageloader.activity.ImageLoaderActivity" />
        <activity android:name=".imageloader.activity.ImageloaderListviewActivity" />
        <activity android:name=".imageloader.activity.ImageloaderGridviewActivity" />
        <activity android:name=".imageloader.activity.ImageloaderViewpagerActivity" />
        <activity
            android:name=".universalvideoview.UniversalVideoViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name=".android_pulltorefresh.PullToRefreshMainActivity" />
        <activity android:name=".android_pulltorefresh.PullToRefreshListActivity" />
        <activity android:name=".android_pulltorefresh.PullToRefreshGridActivity" />
        <activity android:name=".android_pulltorefresh.PullToRefreshListFragmentActivity" />
        <activity android:name=".android_pulltorefresh.PullToRefreshListInViewPagerActivity" />
        <activity android:name=".android_pulltorefresh.PullToRefreshViewPagerActivity" />
        <activity android:name=".android_pulltorefresh.PullToRefreshWebViewActivity" />

        <activity android:name=".fresco.FrescoActivity" />
        <activity android:name=".fresco.FrescoSpimgActivity" />
        <activity android:name=".fresco.FrescoCropActivity" />
        <activity android:name=".fresco.FrescoCircleAndCornerActivity" />
        <activity android:name=".fresco.FrescoJpegActivity" />
        <activity android:name=".fresco.FrescoGifAcitivity" />
        <activity android:name=".fresco.FrescoMultiActivity" />
        <activity android:name=".fresco.FrescoListenerActivity" />
        <activity android:name=".fresco.FrescoResizeActivity" />
        <activity android:name=".fresco.FrescoModifyActivity" />
        <activity android:name=".fresco.FrescoAutoSizeActivity" />

        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".eventbus.EventBusSendActivity" />

        <activity android:name=".butterknife.ButterknifeActivity" />

        <activity
            android:name=".opendanmaku.OpenDanmakuMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />


        <activity
            android:name=".countdownview.CountdownViewMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".countdownview.DynamicShowActivity" />
        <activity android:name=".countdownview.CountdownViewListViewActivity" />
        <activity android:name=".countdownview.CountdownViewRecyclerViewActivity" />

    </application>

</manifest>